@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
}

code {
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: 0px 2px;
}

.comment a {
  color: #00a3cf;
  font-style: oblique;
  text-decoration: underline;
}

.comment a:hover {
  text-decoration: none;
}

.wh-90 {
  width: 90vw;
}

/* 输入框样式 */
.input {
  transition: border 0.2s ease-in-out;
  min-width: 280px;
}

.input:focus + .label,
.input:active + .label,
.input.filled + .label {
  font-size: 0.75rem;
  transition: all 0.2s ease-out;
  top: -0.1rem;
  color: rgb(191, 219, 254);
}

.label {
  transition: all 0.2s ease-out;
  top: 0.4rem;
  left: 0;
}

/* 评论框样式 */
.comment-input {
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
  margin-bottom: 10px;
}

.comment-field {
  margin-bottom: 15px;
  display: flex;
}

.comment-field .comment-field-name {
  display: flex;
  flex-basis: 100px;
  font-size: 14px;
}

.comment-field .comment-field-input {
  display: flex;
  flex: 1;
}

.comment-field-input input,
.comment-field-input textarea {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 5px;
  outline: none;
  font-size: 14px;
  resize: none;
  flex: 1;
}

/* 评论组件样式 */
.comment {
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  min-height: 50px;
}

.comment .comment-user {
  flex-shrink: 0;
}

/* 发送时间 */
.comment:hover .comment-delete {
  color: #00a3cf;
}

.comment-delete {
  position: absolute;
  right: 0;
  top: 0;
  color: transparent;
  font-size: 12px;
  cursor: pointer;
}

/* 本文 */
.comment p {
  padding-top: 5px;
  padding-right: 5px;
  white-space: pre-wrap;
  word-break: break-all;
  /*text-indent: 2em;*/
}

.loading {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  z-index: 999;
}

.nav-menu {
  background-color: white;
  width: 192px;
  display: flex;
  justify-content: center;
  position: fixed;
  left: -100%;
  transition: 700ms;
}

.nav-menu.active {
  left: 0;
  transition: 300ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
  height: 50px;
}
.nav-text:hover,
.active-nav {
  --tw-text-opacity: 1;
  color: rgba(147, 197, 253, var(--tw-text-opacity));
  /* background-color: rgba(219, 234, 254, var(--tw-border-opacity)); */
}
